/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #40cdf2;
$toc-color: #40cdf2;
$navbar-bg: #0c131f;
$navbar-fg: white;
$danger-bg-subtle: #f1c83c;

$footer-bg: #0e0e0e;
$footer-fg: #b5b5b5;

// Code blocks
$code-block-bg-alpha: -.8;